body {
	/*background: url(../images/carpet+545.jpg) repeat;*/
	/*font-family: "Lucida Grande", Verdana, Arial, sans-serif;*/
	background-color: #ccc;
	font-size: 12px;
	line-height: 19px;
	color: #202020;
	padding-top: 40px;
}

label,
input,
select,
textarea {
  /*font-family: "Lucida Grande", Verdana, Arial, sans-serif;*/
}

li {
	color: #404040;
}

section {
	padding-top: 60px;
}
.label {
  font-size: 10.75px;	
}

textarea.code {
	font-family: Monaco, Courier, Mono; 
	height: 20em;
}

.outer {
	width: 840px;
	margin: 17px auto;
	padding: 17px;
	background-color: #fff;
	border: 1px solid #ccc;
}

.shadow {
	-moz-box-shadow: 0px 1px 2px #aaa;
	-webkit-box-shadow: 0px 1px 2px #aaa;
 	box-shadow: 0px 1px 2px #aaa;
}

.round {
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;	
}

.content {
	display: none;
}

.container {
	width: 840px;
}

.content.active {
	display: block;
}

.secondary-nav img.gravatar { /* gravatar */
	margin-right: 8px; 
	float:right; 
	margin-top: 6px;
}